body {
  background: #f2da99;
  text-align: center;
}

.tic-tac-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4em;
}

#game-container {
  width: 40em;
  display: flex;
  flex-direction: column;
  gap: 4em;
  background: #f6f6f6;
  border-radius: 4px;
}

#players {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#players > li {
  width: 50%;
  display: flex;
  gap: 4em;
}

.player-name {
  display: inline-flex;
  width: 100px;
}

.player > input {
  width: 100px;
  padding: 1em;
}

#players > li > button {
  color: blue;
  border: none;
  background: transparent;
  cursor: pointer;
}

ol {
  list-style: none;
}

li.active {
  border: 1px solid;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default !important;
}
